@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Poppins:wght@100;200;300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
.header{
  padding: 10px 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  
}

.features ul li a{
  font-weight: 700;
  font-size: 13px;
  transition: all .5 ease-in;
  text-decoration: none;
  color: #bbb;
  padding: 15px;
}

.features ul li a:hover{
  background: rgba(0, 0, 0, 0.03);
  opacity: .7;
  border-radius: 3px;
}
.features .dropdown-list{
  display: none;
}

.features ul{
  display: flex;
  list-style: none;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }

}