@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Poppins:wght@100;200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  margin-right: 30px;
}

.features ul li a {
  font-weight: 700;
  font-size: 14px;
  transition: all .5 ease-in;
  text-decoration: none;
  color: #bbb;
  padding: 15px;
}

.features ul li a:hover {
  background: rgba(0, 0, 0, 0.03);
  opacity: .7;
  border-radius: 3px;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  margin: 1px;
  background-color: #fff;
  top: 30px;
  box-shadow: -1px -1px rgb(231, 228, 228);
  padding: 3px 0;
}

.dropdown-list li {
  margin: 2px 0;
  min-width: 160px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(123, 121, 121);
  padding: 10px 15px;
}

.dropdown-list li:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: #000;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.dropdown .dropdown-list {
  display: none;
}

.features ul {
  display: flex;
  list-style: none;
}

.social a {
  font-size: 22px;
  color: #bbb;
  margin: 0 4px;
}

/* SECTION */
.section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Images/bg-intro.jpg);
  height: 640px;
  background-size: cover;
}

.form {
  width: 380px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 20px;
  margin: 60px 0;
}
.form input{
  border: none;
  outline: none;
}
.form h2,
.form p {
  text-align: center;
}

.form h2 {
  font-size: 28px;
  line-height: 45px;
}

.form p {
  color: #aaa;
  margin: 10px 0 20px 0;
  font-size: 15px;
}

.form input,
.form button {
  padding: 13px 10px;
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: rgb(214, 207, 207);
  color: #555;
}

.form input::placeholder {
  font-size: 15px;
}

.form button {
  background-color: #009cde;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
}

.form button:hover {
  cursor: pointer;
  background-color: #058cc7;
}

/* CARD */

.card-content {
  padding: 80px 40px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0;
}

.mid {
  margin: 0 20px;
  background-color: #009cde;
  color: #fff;
}

.card-content i {
  color: #ccc;
  font-size: 100px;
}

.card-content h2 {
  margin: 40px 0 20px 0;
}

.card-content p {
  text-align: center;
  font-size: 13px;
}

/* SERVICE */
.service .container {
  display: block;
}

.service-header {
  text-align: center;
  width: 100%;
}

.service .service-header h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 50px 0 30px 0;
  color: #3b3a3a;
}

.service-content {
  margin: 70px 0;
  display: flex;
}

.left .service-card {
  padding: 50px 20px;
  background-color: #f4f4f4;
  margin-right: 30px;
}

.service-card h2 {
  font-size: 25px;
  color: #444;
  line-height: 35px;
}

.service-card p {
  color: #888;
  line-height: 25px;
  margin: 20px 0;
}

.left .service-card button {
  background-color: #009cde;
  color: #fff;
  border: none;
  padding: 15px 37px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.right .service-card h2{
  margin-top: 40px;
}
.right .service-card p{
  line-height: 20px;
  font-size: 14px;
}
/* TWITTER */
.twitter{
  background-color: #f4f4f4;
  color: #888;
  padding: 50px 0;
}
.twit1{
  margin-right: 20px;
}
.twitter h2{
  color: rgb(60, 59, 59);
  margin: 30px 0 5px 0;
  font-size: 21px;
}
/* EXPLORE */

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}